@model Factory.Models.Machine


<div class="topnav">
  <a id="nav-name-link" href="/"><h1 class="nav-title">Sillystringz Inc.</h1></a>
  <a id="nav-link" href="/">Home</a>
  <a id="nav-link" href="/engineer">Engineers</a>
  <a id="nav-link" href="/machine" class="active">Machines</a>
  <a id="nav-link" href="/machine/create">Add Machine</a>
  <a id="nav-link" href="/engineer/create">Add Engineer</a>
</div>

<h3>Add Engineer for @Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)
  @Html.Label("Select Engineer")
  @Html.DropDownList("EngineerId")
  <input type="submit" value="Save" class="btn btn-info">
}

<p>@Html.ActionLink("Back To Details", "Details", new { id = Model.MachineId })</p>