@model Factory.Models.Machine

<div class="topnav">
  <a id="nav-name-link" href="/"><h1 class="nav-title">Sillystringz Inc.</h1></a>
  <a id="nav-link" href="/">Home</a>
  <a id="nav-link" href="/engineer">Engineers</a>
  <a id="nav-link" href="/machine">Machines</a>
  <a id="nav-link" href="/machine/create" class="active">Add Machine</a>
  <a id="nav-link" href="/engineer/create">Add Engineer</a>
</div>

  <h3>Add Machine</h3>

  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)


    @Html.Label("Date:")
    <input id="Date" name="Date" type="date" required>

    @Html.LabelFor(model => model.Ticket)
    @Html.TextBoxFor(model => model.Ticket)    
  
    <input type="submit" value="Enter" />
  }